//fonts
$font-white: #fff;
$font-regular: #333;
$font-soft: #666;

$font-size-regular: 16px;
$font-size-subcaption: 10px;

//app general
$primary: #4CAF50;
$gray-separator: #cacaca;

$victory: #4CAF50;
$defeat: #F44336;
$tie: #FFC107;

$stars: #FFC107;

//effects
@mixin box-shadow {
  box-shadow: 0 4 8px #ccc;
}
