<div class="header">
  <div class="menu">
    <a class="white-link" href="index.html"><span class="icon fa fa-arrow-left"></span></a>
    <span class="page-name">Drink team</span>
  </div>
  <div class="options">
    <span class="icon fa fa-share-alt"></span>
  </div>

</div>
